<!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">
     <link rel="icon" href="../../favicon.ico">
 
     <title>Signin Template for Bootstrap </title>
 
     <!-- Bootstrap core CSS -->
     <link href="static/css/bootstrap.min.css" rel="stylesheet">
 
     <!-- Custom styles for this template -->
     <link href="static/css/signin.css" rel="stylesheet">
 
     <script src="static/js/jquery-1.9.0.js"> </script>
     <script src="static/js/script.js"> </script>
 
 </head>
 
 <body>
 
     <div class="container">
 
         <form class="form-signin" action="/signUp" method="post" role="form">
             <h2 class="form-signin-heading">Nearest words </h2>
             <input name="word" class="form-control" placeholder="Type in a word" required autofocus>
             <button class="btn btn-lg btn-primary btn-block" type="button">Nearest</button>
         </form>
	 <div id="result"/>      
     </div>

   
 </body>
 
 </html>
