<!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">
     <link rel="icon" href="../../favicon.ico">
 
     <title>Word embedding demo</title>

     <script type="text/javascript">
       $APP_ROOT= {{request.script_root|tojson|safe }};
     </script>
 
     <!-- Bootstrap core CSS -->
     <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
 
     <!-- Custom styles for this template -->
     <link href="{{ url_for('static', filename='css/w2vdemo.css') }}" rel="stylesheet">
 
     <script src="{{ url_for('static', filename='js/jquery-1.9.0.js') }}"> </script>
     <script src="{{ url_for('static', filename='js/w2vdemo.js') }}"> </script>
 
 </head>
 
 <body>
   <div class="container">
     <h2 class="form-wordinput-heading">Nearest words </h2>
     <form class="form-inline row" role="form">
       <div class="form-group">
         <input type="text" class="form-control" id="word" name="word" placeholder="Type in a word"/>

	 <button id="submitword" type="button" class="btn btn-default btn-primary active" role="button">Show nearest</button>
	 
	 <label for="case" class="checkbox-inline">Case sensitive:</label>
	 <input type="checkbox" class="form-control" value="case-sensitive" id="case" name="case" checked disabled/>
	 <label for="topn">Top N:</label>
	 <select class="form-control" id="topn" name="topn">
	   <option>5</option>
	   <option selected>10</option>
	   <option>20</option>
	   <option>100</option>
	 </select>
	 </div>
     </form>
     <div id="result" class="row" />      
   </div>
 </body>
 </html>
